TZ=Etc/UTC
GOSTREAM_CONTEXT=/opt/stacks/gostream

GOSTREAM_REAL_PATH=/mnt/gostream-mkv-real
GOSTREAM_CONFIG_FILE=/etc/gostream/config.json

JELLYFIN_HTTP_PORT=8096
GOSTORM_HTTP_PORT=8090
GOSTREAM_HEALTH_PORT=8095
GOSTREAM_CONTROL_PORT=8097
