GOSTREAM_CONTEXT=/path/to/gostream
GOSTREAM_REAL_PATH=/path/to/gostream-mkv-real
GOSTREAM_CONFIG_FILE=/path/to/config/config.json

JELLYFIN_HTTP_PORT=8096
GOSTORM_HTTP_PORT=8090
GOSTREAM_HEALTH_PORT=8095
GOSTREAM_CONTROL_PORT=8097
MKV_PROXY_METRICS_PORT=8097
